<div class="container py-4">
  <div class="card shadow-sm mb-4 p-3">
    <input
      type="text"
      class="form-control w-full"
      [ngModel]="query()"
      (ngModelChange)="query.set($event)"
      min="1"
    />
    <div class="d-flex flex-wrap gap-2 mt-3">
      @for (recipe of filteredRecipes(); track recipe.id) {
        <a type="button" class="btn btn-outline-primary" [routerLink]="['/recipes', recipe.id]">
          Choose {{ recipe.name }}
          @if (recipe.favorite) {
            <span class="ms-1">*</span>
          }
        </a>
      }
    </div>
  </div>
</div>
